<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>Schedule | Submit</title>


</head>
<body>
<div class="formContainer" >
    <form class="form-horizontal" role="form" action="/schedule/add" method="POST" >

        <div class="form-group" >
            <label for="fieldName" class="col-sm-2 control-label" >Name</label>
            <div class="col-sm-4" >
                <input type="text" class="form-control" required id="fieldName" name="name" >
            </div>
            <p>add date in this form: dd-mm-yyyy<br>Time will be in 24 hour format (hh:mm), so do not add am or pm.</p>
            <p>In case of multiple slots, separate each slots starting time by comma.<br>Eg:20-09-2016,21-09-2016</p>
            <p>Also first entry in startDate matches with first entry in endDate, so please add the entries in correct order.</p>
            <label for="fieldstartDate" class="col-sm-2 control-label" >startDate</label>
            <div class="col-sm-4" >
                <input type="text" class="form-control" required id="fieldstartDate" name="startDate" >
            </div>
            <label for="fieldstartTime" class="col-sm-2 control-label" >startTime</label>
            <div class="col-sm-4" >
                <input type="text" class="form-control" required id="fieldstartTime" name="startTime" >
            </div>
            <label for="fieldendDate" class="col-sm-2 control-label" >endDate</label>
            <div class="col-sm-4" >
                <input type="text" class="form-control" required id="fieldendDate" name="endDate" >
            </div>
            <label for="fieldendTime" class="col-sm-2 control-label" >endTime</label>
            <div class="col-sm-4" >
                <input type="text" class="form-control" required id="fieldendTime" name="endTime" >
            </div>
            <label for="fieldVenue" class="col-sm-2 control-label" >Venue</label>
            <div class="col-sm-4" >
                <input type="text" class="form-control" required id="fieldVenue" name="venue" >
            </div>

        </div>
        <div class="form-group" >
            <div class="col-sm-offset-2 col-sm-4" >
                <button type="submit" class="btn btn-default" >Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>